.main {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: auto;
  grid-template-areas: "name message" "name addMessage";
  grid-gap: 10px;
  padding: 20px;
  border: 1px solid #000000;
}

.name {
  grid-area: name;
  padding: 10px;
  border: 1px solid #000000;
}

.message {
  grid-area: message;
  padding: 10px;
  border: 1px solid #000000;
}

.addMessage {
  grid-area: addMessage;
}
