.nav {
  grid-area: n;
  border: 1px solid #000;
  background-color: #a0b49c;
  padding: 20px;
}

.items {
  color: #212428;
}
.items a {
  color: #8a3044;
  text-decoration: none;
}

.items a.activeLink {
  color: #e0e4c8;
}
